@mixin cursor-link {
  span.cursor {
    visibility: hidden;
  }

  &:hover {
    span.cursor {
      visibility: visible;
      text-decoration: none;
      min-width: 8px;
    }
  }
}

@mixin cursor() {
  display: inline-block;
  background: #eee;
  -webkit-animation: blink 1s linear 0s infinite;
  -moz-animation: blink 1s linear 0s infinite;
  -ms-animation: blink 1s linear 0s infinite;
  -o-animation: blink 1s linear 0s infinite;
}

@mixin list() {
  border-top: 1px solid $greyLight;
  border-bottom: 1px solid $greyLight;
  margin: 2em 0;
  padding: 10px 0;

  font-size: 0.7em;
  text-transform: uppercase;
  font-family: $altFont;
  color: $greyPrimary;

  li {
    margin: 5px 0;
    background: none;
  }
}

/**
 * Creates responsive media query styles for a particular media size
 * Media type codes are: phone, subtablet, tablet, desktop, large-desktop
 *
 * Example usage:
 *
 *   .header {
 *     @include responsify(phone) {
 *       width: 200px;
 *     }
 *   }
 *
 * The above style would apply "width: 200px" to the element with class of 'header'
 * if the user's screen resolution is 480px wide or less.
 *
 * Credits to http://thesassway.com/intermediate/responsive-web-design-part-2
 * for inspiring this method of creating a responsive mixin for SASS and
 * and Twitter Bootstrap for providing the RWD breakpoints.
 *
 */
@mixin responsify($media) {
  // Landscape phones and down
  // media-type code: phone
  @if $media == phone {
    @media (max-width: 480px) {
      @content;
    }
  }

  // Landscape phone to portrait tablet
  // media-type code: subtablet
  @else if $media == subtablet {
    @media (min-width: 481px) and (max-width: 767px) {
      @content;
    }
  }

  // Portrait tablet to landscape and desktop
  // repsonsive code: tablet
  @else if $media == tablet {
    @media (min-width: 768px) and (max-width: 979px) {
      @content;
    }
  }

  // Default: Desktop
  // media-type code: desktop
  @else if $media == desktop {
    @media (min-width: 980px) and (max-width: 1209px) {
      @content;
    }
  }

  // Large desktop
  // media-type code: large-desktop
  @else if $media == large-desktop {
    @media (min-width: 1210px) {
      @content;
    }
  }
}