$keyColor: #eee;
$linkColor: #333;

// Navigation
.primary-navigation {
  border-top: 1px solid $keyColor;
  border-bottom: 1px solid $keyColor;
  padding: 10px 0;

  .nav {
    padding: 0;
    margin: 0;

    li {
      letter-spacing: 1px;
      font-size: 0.6em;
      text-transform: uppercase;

      a {
        background-color: transparent;

        &:hover {
          // text-decoration: underline;
        }
      }
    }
  }

  .nav-primary {
    li  {
      display: block;
      clear: both;
    }
  }
}

// Links
a {
  color: $linkColor;
  // color: $greyPrimary;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: darken($linkColor, 20%);
    // text-decoration: underline;
    background-color: transparent;
  }
}

// post listing
.posts-listing {
  @include list();

  li {
    font-size: 0.8em;

    a {
      font-weight: bold;
    }

    .post-date {
      width: 20%;
      display: inline-block;
      margin-right: 20px;
    }
  }
}