/* Custom Query
----------------------------------------- */
@media(max-width: 320px) {
  .hidden-phone {
    display: none;
  }
}

@media(min-width: 321px) and (max-width: 767px) {
  .hidden-subtablet {
    display: none;
  }
}

@media(max-width: 767px) {
  .hidden-mobile-devices {
    display: none;
  }
}


/* Sidebar
----------------------------------------- */
@media (min-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .main-container {
    width: 80%;
    left: 200px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 80px;

    .sidebar-inner {
      width: auto;
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .main-container {
    left: 80px;
  }

  .primary-navigation {
    margin: 0;
  }
}

/* Posts Listing
----------------------------------------- */
@media (min-width: 768px) {
  .main-container {
    .posts-listing {
      li {
        .post-date {
          max-width: 100px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main-container {
    .posts-listing {
      li {
        margin: 20px 0;
        font-size: em(16);

        .post-date {
          width: 100%;
          display: block;
          font-size: em(16);
        }

      }
    }
  }
}

/* Social Nav
----------------------------------------- */
@media (min-width: 481px) {
  .social-links {
    li {
      width: 25%;
      display: inline;
    }
  }
}

@include responsify('subtablet') {
  .social-links {
    // display: block;

    li {
      // width: 20%;
      // float: left;
      @include clearfix();

    }
  }
}

@include responsify('phone') {
  .social-links {
    li {
      display: block;
    }
  }
}

/* Main Container Structural Fixes
----------------------------------------- */
@media (max-width: 767px) {
  .main-container-inner {
    padding: 20px 20px 20px 30px;
  }
}

@media (max-width: 481px) {
  h1 {
    font-size: em(14);
  }

  p {
    font-size: em(12);
  }
}