  <div class="sidebar">
    <div class="sidebar-inner">

      <div class="avatar">
        <a href="/">
          <img src="http://www.gravatar.com/avatar/050eeb9ee777586c99a944bb6c6ef604.png" alt="ftsanjuan" />
        </a>
      </div>
      <h1 class="site-name">
        <a href="/">ftsanjuan</a>
      </h1>
      <h3>Developer</h3>

      {% include social.html %}

      <div class="primary-navigation clearfix">
        <ul class="nav nav-primary">
          {% include navbar.html %}
        </ul>
      </div>
    </div>
  </div>