<ul class="unstyled inline social-links">
  <li>
    <a class="entypo-social twitter" href="{{ site.author.twitter_link }}"></a>
  </li>
  <li>
    <a class="entypo-social github" href="{{ site.author.github_link }}"></a>
  </li>
  <li>
    <a class="entypo cup" href="{{ site.author.bitbucket_link }}"></a>
  </li>
  <li>
    <a class="entypo-social instagram" href="{{ site.author.instagram_link }}"></a>
  </li>
</ul>
<ul class="unstyled inline social-links">
  <li>
    <a class="entypo-social linkedin" href="{{ site.author.linkedin_link }}"></a>
  </li>
  <li>
    <a class="entypo-social googleplus" href="{{ site.author.googleplus_link }}"></a>
  </li>
  <li>
    <a class="entypo globe" href="{{ site.author.ftsanjuan_link }}"></a>
  </li>
  <li>
    <a class="entypo mail" href="mailto:{{ site.author.email_link }}"></a>
  </li>
</ul>
