<ul class="list-unstyled inline social-links">
  <li>
    <a class="entypo-social twitter" title="Twitter" href="{{ site.author.twitter_link }}"></a>
  </li>
  <li>
    <a class="entypo-social github" title="Github" href="{{ site.author.github_link }}"></a>
  </li>
  <li>
    <a class="entypo cup" title="BitBucket" href="{{ site.author.bitbucket_link }}"></a>
  </li>
  <li>
    <a class="entypo-social instagram" title="Instagram" href="{{ site.author.instagram_link }}"></a>
  </li>
</ul>
<ul class="list-unstyled inline social-links">
  <li>
    <a class="entypo-social linkedin" title="Linkedin" href="{{ site.author.linkedin_link }}"></a>
  </li>
  <li>
    <a class="entypo-social googleplus" title="Google+" href="{{ site.author.googleplus_link }}"></a>
  </li>
  <li>
    <a class="entypo globe" title="Portfolio" href="{{ site.author.ftsanjuan_link }}"></a>
  </li>
  <li>
    <a class="entypo mail" title="Email" href="mailto:{{ site.author.email_link }}"></a>
  </li>
</ul>
